

html { 
    height: 98%; 
    background: white; 
    /* background: radial-gradient(circle, #fff 20%, #ccc);  */
    background: radial-gradient(#fdbb2d, #22c1c3);
    background-attachment:fixed;
    background-size: cover;
    position: static; 
    } 

h1{ 
    font-size: 50px;
    margin: 50px 0 -60PX 0; 
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
    font-family: 'Cormorant Garamond', serif; 
    background-image: linear-gradient(to right,red,gray, purple, coral, gray);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-weight: bold;
}

span{
    font-size: 20px;
    font-weight: bold;
}

.mid{
    height: 570px;
    width: 700px;
    margin: -600px auto; 
    /* background: #333; */
    position: relative;
}

#calculator { 
    width: 325px; 
    height: 245px; 
    margin: 215px auto; 
    padding: 20px 20px 9px; 
    background: #333; 
    border-radius: 12px; 
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2); 
    /* padding-top: -500px; */
    background-image: linear-gradient(#4372b8, #539cc5, #39b5ab, #3ef6c7);

} 
.top{
    height: 47px;
    width: 285px;
    margin: auto;
    /* padding-top: 20px */
}
.top span.clear { 
    float: left; 
    width: 66px; 
    height: 36px; 
    } 

.top .screen { 
    height: 40px; 
    width: 191.5px; 
    float: right; 
    padding: 0 10px; 
    background: peachpuff; 
    border-radius: 3px; 
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2); 
    font-size: 17px; 
    line-height: 40px; 
    color: black; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    text-align: right; 
    letter-spacing: 1px; 
    }

.keys{
    height: 188px; 
    width: 285px;
    margin: auto;
    padding-top: 5px;
}

.keys, .top {
        overflow: hidden;
    } 
    
.keys span, .top span.clear { 
    float: left; 
    position: relative; 
    top: 0; 
    cursor: pointer; 
    width: 66px; 
    height: 36px; 
    background: white; 
    border-radius: 3px; 
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2); 
    margin: 0 7px 11px 0; 
    color: #888; 
    line-height: 36px; 
    text-align: center; 
    user-select: none; 
    transition: all 0.2s ease; 
    } 
    
.keys span.operator { 
    background: #FFF0F5; 
    margin-right: 0; 
    } 

.keys span.eval { 
    background: #ffc107; 
    box-shadow: 0px 4px #9da853; 
    color: #888e5f; 
    } 
    
.top span.clear { 
    background: #f44336; 
    box-shadow: 0px 4px #ff7c87; 
    color: white; 
    } 

.keys span:hover { 
    background: #9c89f6; 
    box-shadow: 0px 4px #6b54d3; 
    color: white; 
    } 
    
.keys span.eval:hover { 
    background: #abb850; 
    box-shadow: 0px 4px #717a33; 
    color: #ffffff; 
    } 
    
.top span.clear:hover { 
    background: #f68991; 
    box-shadow: 0px 4px #d3545d; 
    color: white; 
}

.keys span:active { 
    box-shadow: 0px 0px #6b54d3; top: 4px; 
    } 
    
.keys span.eval:active { 
    box-shadow: 0px 0px #717a33; 
    top: 4px; 
    } 
    
.top span.clear:active { 
    top: 4px; 
    box-shadow: 0px 0px #d3545d; 
}

span{ 
}

.circle {
    height: 450px;
    width: 450px;
    margin: 120px auto; 
    padding: 20px;
    border-radius: 100%;
    box-shadow: 0 1px 0 0 rgba(235, 3, 3, 0.945), 0 -1px 0 0 rgba(165, 181, 222, 0.25), 1px 0 0 0 rgba(225, 131, 194, 0.25), -1px 0 0 0 rgba(165, 181, 222, 0.25), 1px -1px 0 0 rgba(181, 0, 241, 0.5), -1px 1px 0 0 rgba(137, 45, 168, 0.842), 1px 1px 0 0 rgba(221, 27, 27, 0.75), -1px -1px 0 0 rgb(45, 88, 231);
    animation: rotateThis 1s linear infinite;
    position: relative;
  }

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

